{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg') ">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Yamuna Khimtsang</h1>
                    <span class="subheading"> Fostering Human-Animal relationship</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<section class="py-5 text-center section1">
    <div class="row px-3 py-lg-3">
      <div class="col-lg-10 col-md-8 mx-auto">
        <h1 class="fw-light">" We are group of Tibetan Friends fostering human-animal relationship "</h1>
        <p><img src="../static/assets/img/yk_logo.jpg" alt="Yamuna Khimtsang alternate logo" width="150px" height="120px"></p>
          
        <p class="lead text-body-secondary">Our goal is to make us aware that humans and all lifeforms on our planet
            are dependent on each other. Together, we’re part of something larger and extraordinary.
            The future of a peaceful environment depends on all of us acting now.
            Start today or help someone who does. With our combined efforts, we can create a peaceful community.
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Know more</a>
        </p>
      </div>
    </div>
</section>

<section class="py-5 text-center section2">
    <div class="container px-4 px-lg-2 py-0" id="custom-cards">
    <h1 class="fw-light pb-2 border-bottom">Our initiatives</h1>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/assets/img/Veterinarian.jpg'); background-size: cover; ">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Veterinarian</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../static/assets/img/logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>TBeneficiary</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>200+</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/assets/img/clothes.jpg'); background-size: cover;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Shelter & Clothes</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../static/assets/img/logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Beneficiary</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>100+</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('../static/assets/img/food.jpg'); background-size: cover;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Provide Food</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../static/assets/img/logo.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Beneficiary</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>250+</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="py-5 text-center section1">
  <div class="container px-4 py-0" id="featured-3">
    <h1 class=" fw-light pb-2 border-bottom">How you can support us?</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <h3 class="fw-light fs-2 text-body-emphasis">Adopt a dog</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <h3 class="fw-light fs-2 text-body-emphasis">Buy a gift for puppies</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
      <div class="feature col">
        <h3 class="fw-light fs-2 text-body-emphasis">Volunteer with us </h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 text-center section3">
    <div class="container mt-5">
      <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">
          <h2 class="fw-light">Or you can also support our growing family by donation.</h2>
          <p>Thank you! We make sure to find ways to cover every expense our own and it worked for the past 7 years.
            But you can join hands with us to broaden our cause!
          </p>
          <button class="btn btn-outline-light" type="button" style="background-color:#FF7E67">Donate</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3 embed-responsive embed-responsive-16by9 text-bg-light">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J_5KKYZIT5Q?si=uIoigfXB2hwYGWV7"
                  title="YouTube video player" width="100%" height="100%" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    </div>
</section>


<!-- Page Footer-->
{% include "footer.html" %}